:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --hero-text-color: #ffffff;
  --focus-hover-color-button: #188ce8;
  --hero-footer-background-color: #2f303a;
  --section-background-color: #f5f4fa;
  --focus-hover-color-text: #ffffff;
  --filter-button-text: #212121;
  --icon-color: #afb1b8;

  --primary-font-size: 14px;
  --logo-font-size: 26px;
  --hero-button-font: 16px;
  --hero-font: 44px;
  --section-heading-font: 36px;
  --team-members-font: 16px;
  --project-name: 18px;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
  font-style: normal;
  font-size: var(--primary-font-size);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
a {
  margin: 0;
  padding: 0;

  /*    removing dot in li tag*/
  list-style-type: none;
  /*    remove underscore in a tag*/
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding: 94px 0;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*==========PAGE HEADER=========*/

.header {
  border-bottom: 1px solid #ececec;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar {
  font-style: normal;
  font-size: var(--primary-font-size);
  font-weight: 500;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.02em;
  line-height: 1.2;
  display: flex;
  align-items: center;
}

.nav-item {
  display: flex;
  align-items: center;
  margin-left: 97px;
}

.nav-item-site:not(:last-child) {
  margin-right: 50px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.logo {
  font-style: normal;
  font-size: var(--logo-font-size);
  color: var(--accent-color);
  line-height: 1.2;
  font-weight: 700;
  font-family: Raleway, sans-serif;
}

.nav-item-link {
  color: var(--primary-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-contacts {
  display: flex;
  align-items: center;
}
.nav-contacts-item:not(:last-child) {
  margin-right: 50px;
}

.contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}

.contacts-icon-nav {
  margin-right: 10px;
}

.nav-contacts-link {
  color: var(--secondary-text-color);
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item-link:focus,
.nav-contacts-link:focus,
.nav-item-link:hover,
.nav-contacts-link:hover {
  color: var(--accent-color);
}

.nav-active-link {
  color: var(--accent-color);
}

.nav-active-link::after {
  position: relative;
  content: "";
  display: block;
  background-color: var(--accent-color);
  border-radius: 2px;
  height: 4px;
  width: 100%;
  top: 32px;
}
.nav-contacts-link:hover .contacts-icon,
.nav-contacts-link:focus .contacts-icon {
  fill: currentColor;
}

/*============MAIN============*/
.hero {
  background-color: var(--hero-footer-background-color);
  color: var(--hero-text-color);
}

.overlay {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-ig.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 200px 0;
}

.hero-heading {
  font-family: Roboto, sans-serif;
  line-height: 1.4;
  letter-spacing: 0.06em;
  font-size: var(--hero-font);
  text-align: center;
  font-weight: 900;
  margin-bottom: 30px;
}

.hero-button {
  background-color: var(--accent-color);
  font-family: Roboto, sans-serif;
  font-size: var(--hero-button-font);
  font-weight: bold;
  color: var(--hero-text-color);
  letter-spacing: 0.06em;
  line-height: 1.9;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 4px;
  border: none;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover {
  background-color: var(--focus-hover-color-button);
}

.section-heading {
  font-weight: 700;
  font-size: var(--section-heading-font);
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 1.2;
  margin-bottom: 50px;
}

/* ====MODAL===*/
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-content {
  position: relative;
  width: 528px;
  height: 581px;

  background: var(--focus-hover-color-text);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.button-close {
  position: absolute;
  right: 8px;
  top: 8px;
  height: 30px;
  width: 30px;
  background: var(--focus-hover-color-text);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;

  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-close {
  fill: currentColor;
}

.button-close:hover,
.button-close:focus {
  border: 1px solid var(--accent-color);
}
.button-close:hover .icon-close,
.button-close:focus .icon-close {
  fill: var(--accent-color);
}

.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.information-form {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
}
.label-form-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
}

.label-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.label-textarea {
  display: flex;
  flex-direction: column;
}
.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 11px 15px 11px 40px;

  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea:focus-within,
.form-input:focus-within {
  border: 1px solid var(--focus-hover-color-button);
  outline: none;
}

.form-input:focus + .form-icon {
  fill: #188ce8;
}
.form-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.label-agreement {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.label-agreement {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.label-check-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.025em;
  color: var(--secondary-text-color);
}

.check-agreement {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.label-agreement .icon-check {
  width: 16px;
  height: 16px;
  margin-right: 7px;
  fill: none;
  border: 2px solid var(--filter-button-text);
  border-radius: 2px;
  cursor: pointer;

  transition-property: border-color, fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.label-agreement .check-agreement:checked + .icon-check {
  fill: currentColor;
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}
.form-button {
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--focus-hover-color-text);
  background: #188ce8;
  cursor: pointer;

  position: absolute;
  left: 164px;
  bottom: 40px;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover,
.form-button:focus {
  background: var(--accent-color);
}

.terms {
  text-decoration: underline;
}

/* ====ABOUT===*/

.about {
  display: flex;
}

.about-item {
  width: 270px;
}
.about-item:not(:last-child) {
  margin-right: 30px;
}

.about-heading {
  font-weight: bold;
  letter-spacing: 0.03em;
  line-height: 1.2;
  margin-bottom: 10px;
}

.about-details {
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  line-height: 1.7;
}

.about-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background: var(--section-background-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

/* ====WEDO===*/
.wedo-section {
  padding-top: 0;
}
.wedo-container {
  display: flex;
  flex-direction: column;
}

.wedo {
  display: flex;
  justify-content: space-between;
}

.wedo-item {
  position: relative;
}
.wedo-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
  height: 70px;
  padding: 27px 0;

  color: var(--focus-hover-color-text);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* ====team===*/
.team {
  display: flex;
  justify-content: space-between;
}

.team-members {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.section-team {
  background-color: var(--section-background-color);
}

.team-members-name {
  font-size: var(--team-members-font);
  letter-spacing: 0.03em;
  text-align: center;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 30px;
  margin-bottom: 10px;
}
.team-members-job {
  font-size: var(--team-members-font);
  color: var(--secondary-text-color);
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 1.2;
}

.socialmedia {
  display: flex;
  align-items: center;
  margin: 16px 32px 0 32px;
}

.socialmedia-item {
  height: 44px;
  width: 44px;
}

.socialmedia-item:not(:last-child) {
  margin-right: 10px;
}

.socialmedia-link {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  color: var(--icon-color);
  background-color: var(--focus-hover-color-text);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socialmedia-icon {
  fill: currentColor;
}

.socialmedia-link:hover > .socialmedia-icon,
.socialmedia-link:focus > .socialmedia-icon {
  fill: currentColor;
}

.socialmedia-link:hover,
.socialmedia-link:focus {
  background-color: var(--accent-color);
  color: var(--focus-hover-color-text);
}

/* ====CLIENTS===*/
.clients {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  color: var(--icon-color);
  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: currentColor;
}

.clients-icon {
  fill: currentColor;
}

/*============"footer"=============*/
.footer {
  background-color: var(--hero-footer-background-color);
  padding: 60px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.address {
  font-weight: 400;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-top: 9px;
}

.address-link {
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: var(--hero-text-color);
}

.footer-icon {
  margin-left: 70px;
}

.footer-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-text-color);
  margin-top: 15px;
  margin-bottom: 20px;
}

.footer-icon-list {
  display: flex;
  align-items: center;
}

.footer-icon-item:not(:last-child) {
  margin-right: 10px;
}

.footer-icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--focus-hover-color-text);
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials-icon {
  fill: currentColor;
}

.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: var(--accent-color);
  color: var(--focus-hover-color-text);
}

.footer-subscribe {
  margin-left: 93px;
}

.subscription-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscription-input:focus-within {
  border-color: var(--accent-color);
  outline: none;
}

.subscribe-form {
  display: flex;
  align-items: center;
}

.subscribe-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin-left: 12px;
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--focus-hover-color-text);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription-icon {
  fill: currentColor;
  margin-left: 30px;
}

.subscribe-button:hover,
.subscribe-button:focus {
  background: var(--focus-hover-color-button);
}
/*============"portfolio"=============*/
.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}
.filter-button {
  font-size: 16px;
  font-weight: 500;
  background-color: var(--section-background-color);
  border: none;
  color: var(--filter-button-text);
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
  font-family: Roboto, sans-serif;
  border-radius: 4px;
  padding: 6px 26px;

  transition-property: color, box-shadow, background-color, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus,
.filter-btn-active {
  background-color: var(--accent-color);
  color: var(--focus-hover-color-text);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.projects-item {
  background: #ffffff;
  max-width: 370px;
  border: 1px solid #eeeeee;
}

.info-project {
  padding: 20px 24px;
}

.project-name {
  font-size: var(--project-name);
  letter-spacing: 0.06em;
  line-height: 2;
  font-weight: 700;
  color: var(--filter-button-text);
}

.project-type {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 1.9;
  color: var(--secondary-text-color);
}

.projects-link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-link:focus,
.projects-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-overlay {
  position: relative;
  overflow: hidden;
}

.prj-overlay {
  position: absolute;
  width: 100%;
  background: rgba(33, 150, 243, 0.9);
  top: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--focus-hover-color-text);
  padding: 63px 24px 91px 24px;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-item:hover .prj-overlay {
  transform: translateY(0%);
}
